{% extends 'crm/base_two.html' %}

{% block title %}
    Форма добавления клиента
{% endblock %}

{% block content  %}
    <h1>Форма добавления клиента</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.company }}<br>
        {{ form.contact_name }}<br>
        {{ form.position }}<br>
        {{ form.phone }}<br>
        {{ form.email }}<br>
        {{ form.address }}<br>
        {{ form.commentary }}<br>
        {{ form.publish }}<br>
        <span>{{ error }}</span>

        <button class="btn btn-success" type="submit">Добавить клиента</button>
    </form>

{% endblock %}