{% extends 'crm/base_two.html' %}


{% block title %}
    Сделки
{% endblock %}


{% block content  %}
    <ul1>
    <a href="{% url 'create_deal' %}"><li><button class="btn btn-info" type="submit">Создать сделку</button></li></a>
    </ul1>
    <br>
    <br>
    <h2> Сделки </h2>


        <table class="table2">
    <tbody>
    <tr class="line">
        <th>Клиент</th>
        <th>Информация</th>
        <th>Дата</th>
        <th>Автор</th>
        <th>подробней</th>
    </tr>
    {% for el in deals %}
        <tr class="line">
            <td>{{ el.client }}</td>
            <td>{{ el.commentary | truncatewords:4}}</td>
            <td>{{ el.publish }}</td>
            <td>{{ el.author }}</td>
            <td><a href="{% url 'detailed_deal' el.id %}"> Подробнее </a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>





{% endblock %}