{% extends 'crm/base_two.html' %}

{% block title %}
    Reminders
{% endblock %}


{% block content  %}
    <ul1>
    <a href="{% url 'create_reminder' %}"><li><button class="btn btn-info" type="submit">Создать напоминание</button></li></a>
    </ul1>
    <br>
    <br>
    <h2> Запланированные события </h2>

        <table class="table2">
    <tbody>
    <tr class="line">
        <th>Клиент</th>
        <th>Событие</th>
        <th>Дата события</th>
        <th>Коментарий</th>
        <th>Автор</th>
        <th>подробней</th>
    </tr>
    {% for el in reminders %}
        <tr class="line">
            <td>{{ el.client }}</td>
            <td>{{ el.get_event_type_display }}</td>
            <td>{{ el.deadline }}</td>
            <td>{{ el.commentary | truncatewords:4}}</td>
            <td>{{ el.author }}</td>
            <td><a href="{% url 'detailed_reminder' el.id %}"> Подробнее </a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>




{% endblock %}